#top-left-button {
  position: fixed;
  top: 10px;
  right: 160px;
  z-index: 10000;
  padding: 8px 14px;
  background-color: none;
  color: #ececec;
  border: none;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid #424242;
  font-size: 14px;
}

#top-left-button:hover {
  background-color: #45a049;
}
